---
title: "Timothy Andrew | Software Developer"
---



<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous">
    </script>

    <script src="https://use.typekit.net/cwa3qno.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="canonical" href="http://timothyandrew.net/" />

    <link rel="stylesheet" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />

    <title>Timothy Andrew - Software Developer</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="main col-md-10 col-md-offset-1">
                <div class="header">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="profile" src="images/profile.jpeg"/>
                        </div>

                        <div class="col-md-6 text">
                            <h1>Timothy Andrew</h1>
                            <h2>Software Developer</h2>
                        </div>
                    </div>
                </div>

                <div class="blurb">
                    <%= partial "blurb" %>
                </div>

                <div class="links">
                    <%= partial "links" %>
                </div>
            </div>
        </div>
    </div>
</body>
